xml/partA-c/students不改.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2016 rel. 2 (http://www.altova.com) -->


<!ELEMENT students (student+)>
<!ELEMENT student (((firstname, lastname) | name), course+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>

<!ELEMENT course (#PCDATA | name | submodule)*>     <!--this
construct would be problematic.But we can use a mandatory implementation-->

<!ELEMENT submodule (#PCDATA)>
<!ATTLIST students
	year CDATA #REQUIRED
>
<!ATTLIST student
	enrolmentDate CDATA #IMPLIED
>