xml/partA-c/students改.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2016 rel. 2 (http://www.altova.com) -->


<!ELEMENT students (student+)>
<!ELEMENT student (((firstname, lastname) | name), course+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>


<!ELEMENT course (name, submodule*)>  <!--经过修改后的students.xml，我们写dtd文件就会顺手很多，因为符合现实逻辑-->


<!ELEMENT submodule (#PCDATA)>
<!ATTLIST students
	year CDATA #REQUIRED
>
<!ATTLIST student
	enrolmentDate CDATA #IMPLIED
>
